bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/

# Node
node_modules/
package-lock.json

# Build outputs
wwwroot/*.js
wwwroot/*.js.map
dist/

# IDE
.idea/
*.suo
*.user
.vs/

# NuGet
*.nupkg
.nuget/

# OS
.DS_Store
Thumbs.db
Docs
BaseCrypto/BlazorPRF.BaseCrypto.Wasm/wwwroot/blazorprfbase-wasm.js
BlazorPRF.BC.Crypto/wwwroot/blazor-prf.js
BlazorPRF.Noble.Crypto/wwwroot/blazorprf-noble.js
