name: Deploy to GitHub Pages

on:
  workflow_dispatch:
  push:
    branches: [master]
    paths:
      - 'BlazorPRF.Sample/**'
      - 'BlazorPRF/**'
      - 'BlazorPRF.UI/**'

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install npm dependencies
        working-directory: BlazorPRF/TypeScript
        run: npm install

      - name: Publish Sample App
        run: dotnet publish BlazorPRF.Sample/BlazorPRF.Sample.csproj --configuration Release -o release

      - name: Change base href
        run: sed -i 's/<base href="\/" \/>/<base href="\/BlazorPRF\/" \/>/g' release/wwwroot/index.html

      - name: Add .nojekyll
        run: touch release/wwwroot/.nojekyll

      - name: Copy 404.html
        run: cp release/wwwroot/index.html release/wwwroot/404.html

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: release/wwwroot

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
